<header>
	<h1>UrlShort.en</h1>
</header>
<main>
	<h2>Enter URL to shorten here</h2>
	<form id="queryForm">
		<div class="field">
			<input type="url" autofocus="true">
			<input type="submit" value="Shorten">
		</div>
	</form>
	<pre id="code" class="ghost"></pre>
</main>
<footer>copyright &copy; 2015</footer>