<header>
	<h1>UrlShort.en</h1>
</header>
<main>
	<h2>Enter URL to shorten here</h2>
	<div class="field">
		<input type="url" autofocus="true">
		<input type="submit">
	</div>
	<pre>http://urlshort.en/xyzm</pre>
</main>
<footer>copyright &copy; 2015</footer>